<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    {{#ifCond user.lname 'guest'}}
                    <h3>Welcome to the COVID-19 Testing Center</h3>
                    <a href="/links/addpatient" class="btn btn-primary m-4">
                        Add Patient    
                    </a>
                    {{else}}
                    <h3>Welcome {{user.lname}}</h3>
                    <a href="/links/testpatient" class="btn btn-primary m-4">
                        Test Patients    
                    </a>
                    {{/ifCond}}
                </div>
            </div>
        </div>
        {{#ifCond user.lname 'guest'}}
        ;nbspc
        {{else}}
        {{>patients}}
        {{/ifCond}}
    </div>
</div>