<div class="encprint">

</div>
<div class="form_authorization_code">{{code}}</div>
<div class="form_outbreak">{{outbreak_nbr}}</div>

<div class="form_submitter">State Pen</div>
<div class="form_sub_address">Cell Block B</div>
<div class="form_sub_city">Jolliet</div>
<div class="form_sub_state">IL</div>
<div class="form_sub_zip">12345</div>
<div class="form_sub_contact">John Doe</div>
<div class="form_sub_phone">(987) 654-3210</div>
<div class="form_sub_fax">(123) 456-7890</div>
<div class="form_sub_email">whatever@gmail.com</div>

<div class="form_pat_lname">Last Name</div>
<div class="form_pat_fname">First</div>
<div class="form_pat_mname">Middle</div>
<div class="form_pat_street">123 Main St.</div>
<div class="form_pat_apart">#123</div>
<div class="form_pat_city">Jolliet</div>
<div class="form_pat_state">IL</div>
<div class="form_pat_zip">12345</div>
<div class="form_pat_phone">(555) 123-1234</div>
<div class="form_pat_dob">01/01/1990</div>
<div class="form_pat_age">30</div>

<div class="form_pat_male">X</div>
<div class="form_pat_female">X</div>
<div class="form_pat_race1">{{race1}}</div>
<div class="form_pat_race2">X</div>
<div class="form_pat_race3">X</div>
<div class="form_pat_race4">X</div>
<div class="form_pat_race5">X</div>
<div class="form_pat_ethnicity1">X</div>
<div class="form_pat_ethnicity2">X</div>

<div class="form_pat_id">X-123456</div>

<div class="form_ins_id">123456</div>
<div class="form_ins_company">Liberty Mutual</div>
<div class="form_ins_group">123456</div>
<div class="form_ins_ssn">999-99-9999</div>
<div class="form_ins_lname">John</div>
<div class="form_ins_fname">Doe</div>
<div class="form_ins_ebd">01/01/2020</div>
<div class="form_ins_eed">01/01/2021</div>

<div class="form_test_date">01/01/2021</div>
<div class="form_test_time">01:30 PM</div>
<div class="form_test_onset">01/15/2020</div>

<div class="form_test_type">X</div>
